<!-- _AdminSidebar.cshtml -->
<li class="nav-item">
    <a class="nav-link" href="/Admin/Staff">
        <span class="menu-title">Quản lý nhân viên</span>
        <i class="mdi mdi-account-multiple menu-icon"></i>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/Admin/MenuItem">
        <span class="menu-title">Quản lý món ăn</span>
        <i class="mdi mdi-food menu-icon"></i>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/Admin/Report">
        <span class="menu-title">Báo cáo</span>
        <i class="mdi mdi-file-chart menu-icon"></i>
    </a>
</li>
