<!-- _CashierSidebar.cshtml -->
<li class="nav-item">
    <a class="nav-link" href="/Cashier/Booking">
        <span class="menu-title">Đặt bàn</span>
        <i class="mdi mdi-table-chair menu-icon"></i>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/Cashier/Order">
        <span class="menu-title">Gọi món</span>
        <i class="mdi mdi-silverware menu-icon"></i>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/Cashier/Invoice">
        <span class="menu-title">Hóa đơn</span>
        <i class="mdi mdi-receipt menu-icon"></i>
    </a>
</li>
