<!-- _StaffSidebar.cshtml -->
<li class="nav-item">
    <a class="nav-link" href="#">
        <span class="menu-title">Quản lý kho</span>
        <i class="mdi   mdi-chart-bar menu-icon"></i>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <span class="menu-title">Quản lý đơn xuất</span>
        <i class="mdi  mdi-login-variant menu-icon"></i>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <span class="menu-title">Quản lý đơn nhập</span>
        <i class="mdi   mdi-stack-overflow menu-icon"></i>
    </a>
</li>
