<!-- _StaffSidebar.cshtml -->
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<li class="nav-item">
    <a class="nav-link" asp-controller="WareHouse" asp-action="Home">
        <span class="menu-title">Quản lý kho</span>
        <i class="mdi   mdi-chart-bar menu-icon"></i>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" asp-controller="WareHouse" asp-action="Import">
        <span class="menu-title">Quản lý đơn nhập</span>
        <i class="mdi   mdi-stack-overflow menu-icon"></i>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-controller="WareHouse" asp-action="Export">
        <span class="menu-title">Quản lý đơn xuất</span>
        <i class="mdi  mdi-login-variant menu-icon"></i>
    </a>
</li>
