@model SE310_Restaurant_Management_System.Models.MenuItem

<div class="col-md-3 grid-margin">
    <div class="card bg-gradient-danger card-img-holder text-white">
        <div class="card-body m-2 p-0">
            <img class="w-100 mb-1" style="height: 200px; object-fit: cover;" src="/assets/images/foods/@Model.Image" />
            <h5 class="card-text">@Model.Name</h5>
            <h4 class="mb-1 text-danger">@Model.Price</h4>
        </div>
    </div>
</div>
