@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model MenuItemModel

@{
    ViewData["Title"] = "AddNewItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thêm mới món ăn</h4>
            <p class="card-description"> Thông tin cơ bản </p>
            <form method="post" asp-action="AddNewItem" asp-controller="Admin" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Name">Tên món ăn</label>
                    <input asp-for="Name" class="form-control" placeholder="Nhập tên">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                @* <div class="form-group">
                    <label asp-for="ImagePath">Hình ảnh</label>
                    <input type="file" id="fileInput" name="img[]" class="file-upload-default">
                    <div class="input-group col-xs-12">
                        <input asp-for="ImagePath" type="text" class="form-control file-upload-info" id="fileName" disabled="" placeholder="Tải lên hình ảnh">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-gradient-primary" id="uploadButton" type="button">Tải lên</button>
                        </span>
                    </div>
                </div> *@

                <div class="form-group">
                    <label asp-for="ImagePath">Hình ảnh</label>
                    <div class="">
                        <input asp-for="ImagePath" class="file-upload-info" id="customFile" />
                    <span asp-validation-for="ImagePath" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Description">Mô tả</label>
                    <input asp-for="Description" class="form-control" row="4">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Price">Giá</label>
                    <input asp-for="Price" class="form-control" placeholder="Nhập giá">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SubCategoryId">Loại món ăn phụ</label>
                    <select asp-for="SubCategoryId" class="form-control" asp-items="ViewBag.SubCategoryId">
                        <option value="">Vui lòng chọn loại món ăn</option>
                    </select>
                    <span asp-validation-for="SubCategoryId" class="text-danger"></span>
                </div>

                <div class="form-group">

                <input type="submit" class="btn btn-primary"></input>
                <a class="btn btn-light" type="button" asp-action="MenuItem">Cancel</a>
                </div>

            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../../assets/js/file-upload.js"></script>



