
@{
    ViewData["Title"] = "MenuItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<SE310_Restaurant_Management_System.Models.MenuItem>

<div id="MenuItemsTable">
    @await Html.PartialAsync("_MenuItem", Model)

    
</div>





