@model IEnumerable<SE310_Restaurant_Management_System.Models.MenuItem>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-12 mb-2">
            <div class="card p-2">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-0">@item.Name</h5>
                    <div class="d-flex align-items-center">
                        <h5 class="card-text mb-0 me-2">@item.Price</h5>
                        <button class="btn btn-primary btn-sm" onclick="addToOrder('@item.MenuItemId','@item.Name',@item.Price)">+</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
