@model SE310_Restaurant_Management_System.Models.BookingOrder
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="card">
    <div class="card-body">
        <h2  >Đặt bàn</h2>
        <form class="forms-sample" asp-action="Booking">
            <div class="form-group row">
                <label asp-for="CustomerName" class="col-sm-3 col-form-label">Tên khách hàng</label>
                <div class="col-sm-9">
                    <input asp-for="CustomerName" class="form-control" />
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="CustomerPhone" class="col-sm-3 col-form-label">SĐT</label>
                <div class="col-sm-9">
                    <input asp-for="CustomerPhone" class="form-control" />
                    <span asp-validation-for="CustomerPhone" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="BookingTime" class="col-sm-3 col-form-label">Thời gian</label>
                <div class="col-sm-9">
                    <input asp-for="BookingTime" class="form-control" />
                    <span asp-validation-for="BookingTime" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="NumberOfPeople" class="col-sm-3 col-form-label">Số người</label>
                <div class="col-sm-9">
                    <input asp-for="NumberOfPeople" class="form-control" />
                    <span asp-validation-for="NumberOfPeople" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="DepositAmount" class="col-sm-3 col-form-label">Tiền cọc</label>
                <div class="col-sm-9">
                    <input asp-for="DepositAmount" class="form-control" />
                    <span asp-validation-for="DepositAmount" class="text-danger"></span>
                </div>
            </div>

            <!-- Dropdown List for Tables -->
            <div class="form-group row">
                <label asp-for="TableId" class="col-sm-3 col-form-label">Bàn</label>
                <div class="col-sm-9">
                    <select asp-for="TableId" class="form-control" style="color:black; font-size:medium">
                        <option value="">-- Chọn bàn --</option>
                        @foreach (var table in (ViewBag.Tables as List<RestaurantTable>))
                        {
                            if (table.TableId == ViewBag.SelectedTableId)
                            {
                                <option value="@table.TableId" selected>@table.TableId</option>
                            }
                            else
                            {
                                <option value="@table.TableId">@table.TableId</option>
                            }
                        }
                    </select>


                    <span asp-validation-for="TableId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Đặt bàn" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
